/* .container {
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    min-width: 100%;
    min-height: 100%;
    /* background-image: radial-gradient(gray,black, black);
    background-color: #222;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    /* font-family: 'Righteous', cursive;
    font-family: Raleway ,Helvetica, sans-serif;
}
label {
    font-size: 1em;
    font-family: Raleway ,Helvetica, sans-serif;
}
.login-box.col-sm-3 {
    min-height: 550px;
    min-width: 800px;
    flex-wrap: wrap;
    padding: 30px;
    padding-top: 50px;
    background-color: gray;
    margin: 50px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 0px black;
}
.form-seg {
    padding: 10px;
}
.in {
    position: relative;
    left: 15%;
    right: 15%;
    width: 70%;
    margin-top: 2px;
    margin-bottom: 10px;
    font-family: Raleway ,Helvetica, sans-serif;
    font-size: 40px;
    padding-inline-end: 10%;
    background-color: black;
    opacity: 0.5;
    color: white;
}
.btn.btn-primary {
    font-size: 30px;
    margin: 20px;
    font: white;
    padding: 10px;
    border: 2em;
    background-color: black;
    opacity: 0.5;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
}
.btn.btn-primary:hover {
    background-color: white;
    color: black;
}
.btn.btn-primary:active {
    background-color: beige;
    color: black;
}
.form-text {
    text-align: center;
    font-family: Raleway ,Helvetica, sans-serif;
    font-size: 50px;
}
.row {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
label {
    text-align: center;
    font-family: Raleway ,Helvetica, sans-serif;
    font-size: 2em;
}
input {
    position: relative;
    left: 0%;
    right: 0%;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 10px;
    font-family: Raleway ,Helvetica, sans-serif;
    font-size: 40px;
    padding-inline-end: 0%;
    background-color: black;
    opacity: 0.5;
    color: white;
}
.error {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: red;
  } */

  input {
    position: relative;
    left: 0%;
    right: 0%;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 10px;
    font-family: Raleway ,Helvetica, sans-serif;
    font-size: 40px;
    padding-inline-end: 0%;
    background-color: black;
    opacity: 0.5;
    color: white;
}

.error {
    font-family: Raleway ,Helvetica, sans-serif;
    font-style: italic;
    font-size: 1rem;
    color: red;
}
